/mvnw text eol=lf
*.cmd text eol=crlf

# Normaliza quebras de linha automaticamente
* text=auto

# Arquivos que devem sempre usar LF (Linux/Docker)
*.java    text eol=lf
*.xml     text eol=lf
*.yml     text eol=lf
*.properties text eol=lf
*.sh      text eol=lf

# Arquivos que devem sempre usar CRLF (Windows)
*.bat     text eol=crlf
*.cmd     text eol=crlf